.button {
    height: 125px;
    width: 125px;
    border-radius: 100px;
    background-color: transparent;
    border: 0px;
    font-size: 18px;
    color: #00d500;
    font-weight: 700;
    margin: 10px 0px;
    box-shadow: 0px 5px 10px #00d50052;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    transition: 0.5s;
    background-color: #333333;
}

@media only screen and (max-width: 600px) {
    .button {
        height: 175px !important;
        width: 175px !important;
        font-size: 22px !important;
    }
}