.clock {
    display: flex;
    font-size: 50px;
    font-family: sans-serif;
    border: 1px solid #232323;
    width: 200px;
    justify-content: center;
    font-weight: 700;
    color: #00d500;
    background-color: #181818;
    border-radius: 60px;
    padding: 20px 40px;
    text-shadow: 0px 0px 10px #00b700;
    margin: 15px 0px;
}